<div class="blog-post-grid">
  <div class="blog-post" *ngFor="let post of posts">
    <img [src]="post.image" alt="Post Image" class="blog-post-image" />
    <h3 class="blog-post-title">{{ post.title }}</h3>
    <p class="blog-post-description">{{ post.description }}</p>
    <div class="blog-post-author">
      <img [src]="post.author.image" alt="Author Image" class="author-image" />
      <span class="author-name">{{ post.author.name }}</span>
      <span class="verification-icon">
      <img src="./assets/check-mark.png" alt="Verified" class="verified-icon" *ngIf="post.verified">  </span>

    </div>

    <p class="author-website">From: {{ post.author.website }}</p>
      </div>
    </div>
